 .main-title {
  margin-top: 30px;
  font-size: 48px;
  font-family: 'Trebuchet MS';
  color:rgb(51, 153, 153);
  font-weight: bolder;
  padding-bottom: 50px;
}
      .titles {
  padding-top: 50px;
  font-size: 28px;
  
  color: rgb(20, 132, 151);
 }

.description {
  max-width: 90%;
  text-align: center;
  padding-left: 5%;
  display:block;
  color:rgb(51, 153, 153);
  font-size: 20px;
}

.img {
  width: 333px;
  height: 200px;
  padding-bottom: 40px;
}

.all-text {
  text-align: center
}

.read {
  color:rgb(51, 153, 153);
  font-size: 20px;
  padding-bottom: 10px;
}

.imtu {
  display: inline-block
}

      /* MOBILE VERSION */

      @media (max-width: 600px) {

 .main-title {
  margin-top: 30px;
  font-size: 32px;
  text-align: center;
}        

.img {
  display:none;
}
        
.imtuv {
  display:block;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  
}

.titles {
  padding-top: 20px;
  
  text-align: center;
 }

.description {
  
  padding-top: 20px;  
  display: block;
  
  padding-left: 5%;
  text-align: center;
}

        
      }
